{% extends 'base.html' %}

{% block header %}
  <div class="text-center container">
    <h4 class="mx-2 my-2">{% block title %}Dranks{% endblock %}</h4>
  </div>
{% endblock %}

{% block content %}
    <section class="post container container-fluid">

      <div class="section-center">
            {% for item in drinks %}
              <article class="cocktail">
		<img src="{{ item['strDrinkThumb'] }}" alt="{{ item['strDrink'] }}" />
                <h4>{{ item['strDrink'] }}</h4>
		<p class="ingred">Ingredients:</p>
		<ul>
		  {% for key in item %}
		    {% if key.startswith('strIngredient') and item[key] %}
		    <!-- we are ingredient and we have value -->
		    <li>{{ item[key] }}: <span style="color: #f80f0e">{{ item[key.replace('Ingredient', 'Measure')] }}</span></li>
		    {% endif %}
		  {% endfor %}
		</ul>
		<p>{{ item['strInstructions'] }}</p>
              </article>
	    {% endfor %}
      </div>

    </section>
{% endblock %}
