html { font-family: sans-serif; }
body { margin: auto !important; background: white; }
h1 { font-family: serif; color: #377ba8; margin: 1rem 0; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav h2 { letter-spacing: 12px; margin: auto; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.col-heads { font-size: 1.2rem; color: chocolate; }
.content { padding: 0 1rem 1rem; padding-top: 70px; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: center; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.content > header p { font-size: small; margin-top: .1rem; margin-bottom: .1rem; }
.content > header h4 { letter-spacing: 2px; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: initial; font-size: .9rem; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
.cocktail img { 
  display: block;
  border-radius: 0.5rem;
  border: 5px solid #222;
  transition: all 0.3s linear;
  height: 268px;
  object-fit: cover;  }
.cocktail > p.ingred { font-size: 1.02rem; font-weight: bold; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }
.section-center {
  padding-top: 5px;
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}
/* If screen size is greater than 576, display grid */
@media screen and (min-width: 576px) {
  .section-center {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 4rem;
  }
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
