<!doctype html>
<title>{% block title %}{% endblock %} - Kitchen</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<nav class="navbar fixed-top">
  <h2 class="mx-5">Kitchen</h2>
  <div class="justify-content-end mx-5">
    <ul>
      <li><a href="{{ url_for('index') }}">Drinks</a>
      <li><a href="#">Foods</a>
    </ul>
  </div>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>
